[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/blaztoma/pitono-pamokos/blob/main/pamokos/17%20-%20Rinkiniai%20-%20Sets/17%20-%20Rinkiniai%20-%20Sets.ipynb)

# Rinkiniai (`Sets`)

## Apie rinkinius

- Rinkiniai irgi skirti duomenų sugrupavimui, tačiau su rinkiniu galima turėti tik nesidubliuojančias reikšmes (tik unikalius duomenis).
- Rinkiniuose duomenis galima keisti.
- Tai yra tarpinis variantas tarp sąrašo ir žodyno (galima susidėti duomenis kaip į sąrašą, tačiau duomenys nėra rikiuojami kaip sąraše, nes yra be rikiavimo eiliškumo kaip žodyne).
- Naudingiausia kai reikia turėti rinkinį su unikaliomis reikšmėmis, tačiau nerūpi duomenų eiliškumas, ar raktų-reikšmių poros.

## Sintaksė

1-as variantas:

```
rinkinys = {reikšmė, reikšmė, reikšmė}
```

2-as variantas:

```
rinkinys = set({reikšmė, reikšmė, reikšmė})
```

## Pavyzdžiai

In [1]:
rinkinys = set({1, 2, 3, 4, 4, 5, 5, 5})
print(rinkinys)

{1, 2, 3, 4, 5}

In [2]:
pirmas = set({7, 4, 5})
antras = {8, 2, 3, 5}

print(pirmas)
print(antras)

{4, 5, 7}
{8, 2, 3, 5}

In [3]:
unikalus_miestai = {"Kaunas", 'Vilnius', 'Klaipėda', 'Kaunas', 'Šiauliai'}

print(unikalus_miestai)

{'Vilnius', 'Šiauliai', 'Kaunas', 'Klaipėda'}

In [4]:
vardai = {'Petras', 'Ona', 'Gintaras', 'Ugnė'}
print('Ona' in vardai)
print('Ugnius' in vardai)
print(5 in vardai)

True
False
False

In [5]:
rink = {'pirmas', 'antras', 'trečias'}
print(rink[0]) # klaida

TypeError: 'set' object is not subscriptable

In [6]:
ivairi_info = {7, 'Jonas', 4, 5, 'Petras', 6.87, 2.5, 3}
print(ivairi_info)

{'Jonas', 2.5, 3, 4, 5, 6.87, 7, 'Petras'}

In [7]:
skaiciai = {7, 4, 2, 6}

for sk in skaiciai:
    print(sk)

2
4
6
7

In [8]:
salys = {'Lietuva', 'Latvija', 'Estija', 'Švedija', 'Norvegija'}

for salis in salys:
    print('-', salis)

- Švedija
- Norvegija
- Latvija
- Estija
- Lietuva

In [9]:
miestai = ['Kaunas', 'Vilnius', 'Kaunas', 'Klaipėda', 'Panevėžys', 'Šiauliai', 'Vilnius']

print('visi miestai:', miestai, '\n')

unikalus_miestai = set(miestai)

print('unikalūs miestai:', unikalus_miestai)

visi miestai: ['Kaunas', 'Vilnius', 'Kaunas', 'Klaipėda', 'Panevėžys', 'Šiauliai', 'Vilnius']

unikalūs miestai: {'Panevėžys', 'Šiauliai', 'Klaipėda', 'Vilnius', 'Kaunas'}

In [10]:
miestai = ['Kaunas', 'Vilnius', 'Kaunas', 'Klaipėda', 'Panevėžys', 'Šiauliai', 'Vilnius']

print('visi miestai:', miestai, '\n')

unikalus_miestai = set(miestai)
unikalus_miestai_sarase1 = list(unikalus_miestai)
print('sąraše 1:', unikalus_miestai_sarase1, '\n')

unikalus_miestai_sarase2 = list(set(miestai))
print('sąraše 2:', unikalus_miestai_sarase2)

visi miestai: ['Kaunas', 'Vilnius', 'Kaunas', 'Klaipėda', 'Panevėžys', 'Šiauliai', 'Vilnius']

sąraše 1: ['Panevėžys', 'Šiauliai', 'Klaipėda', 'Vilnius', 'Kaunas']

sąraše 2: ['Panevėžys', 'Šiauliai', 'Klaipėda', 'Vilnius', 'Kaunas']

In [11]:
miestai = ['Kaunas', 'Vilnius', 'Kaunas', 'Klaipėda', 'Pavevėžys', 'Šiauliai', 'Vilnius']

print('skirtingų miestų yra:', len(set(miestai)))

skirtingų miestų yra: 5

In [12]:
s = set([1, 2, 3])

s.add(4)
print(s)

s.add(4)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}

In [13]:
miestai = {'Kaunas', 'Vilnius', 'Kaunas', 'Klaipėda', 'Pavevėžys', 'Šiauliai', 'Vilnius'}
print(miestai, '\n')

miestai.add('Ukmergė')
miestai.add('Kaunas')
print(miestai)

{'Pavevėžys', 'Šiauliai', 'Klaipėda', 'Kaunas', 'Vilnius'}

{'Ukmergė', 'Pavevėžys', 'Šiauliai', 'Klaipėda', 'Kaunas', 'Vilnius'}

In [14]:
skaiciai = {1, 2, 3, 4, 5, 6}

skaiciai.remove(3)
print(skaiciai)

skaiciai.remove(7) # klaida

# jeigu reikia išvengti trynimo klaidų - naudokite .discard()

{1, 2, 4, 5, 6}

KeyError: 7

In [15]:
miestai = {'Kaunas', 'Vilnius', 'Kaunas', 'Klaipėda', 'Pavevėžys', 'Šiauliai', 'Vilnius'}

miestai.remove('Pavevėžys')
# miestai.remove('Biržai') # klaida

print(miestai)

miestai.discard('Biržai')
miestai.discard('Vilnius')

print(miestai)

{'Šiauliai', 'Klaipėda', 'Kaunas', 'Vilnius'}
{'Šiauliai', 'Klaipėda', 'Kaunas'}

In [16]:
pirmas = set([1, 2, 3])
antras = pirmas.copy()

print('pirmas', pirmas)
print('antras', antras)
print()

print(pirmas == antras) # ar sutampa reikšmės
print(pirmas is antras) # ar žiūri į tą pačią vietą atmintyje

pirmas {1, 2, 3}
antras {1, 2, 3}

True
False

In [17]:
rinkinys = set([1, 2, 3])
rinkinys.clear() # išvalymas
print(rinkinys)

set()

In [18]:
matematikos_studentai = {'Ona', 'Petras', 'Giedrius', 'Gintarė'}
biologijos_studentai = {'Petras', 'Jonas', 'Ona', 'Povilas', 'Greta'}

visi_unikalus_studentai = matematikos_studentai | biologijos_studentai

print(visi_unikalus_studentai)

{'Jonas', 'Povilas', 'Greta', 'Ona', 'Gintarė', 'Petras', 'Giedrius'}

In [19]:
matematikos_studentai = {'Ona', 'Petras', 'Giedrius', 'Gintarė'}
biologijos_studentai = {'Petras', 'Jonas', 'Ona', 'Povilas', 'Greta'}

studentai_tik_abiejuose = matematikos_studentai & biologijos_studentai

print(studentai_tik_abiejuose)

{'Petras', 'Ona'}

In [20]:
raides = { raide.upper() for raide in 'labas rytas' }
print(raides)

{'T', 'S', 'A', 'L', 'B', 'Y', ' ', 'R'}

In [21]:
skaiciai = { x ** 2 for x in range(10) }
print(skaiciai)

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

## Užduotys

### Užduotis 1

Įsivaizduokite, kad sukūrėte balsavimo formą, kurioje žmogus galėjo rinktis 1 iš kelių galimų variantų (ar įrašyti savo) ir turite sąraše visus tuos balsavimo duomenis (pvz: balsavimui panaudotas klausimas `"labiausiai patinkanti kalba:"`, o atsakymai `['c++', 'python', 'python', 'javascript', 'python', 'c#', 'javascript']`). Atrinkite visus skirtingus atsakymų variantus į atskirą sąrašą (būtų `['c++', 'python', 'javascript', 'c#']`).

In [ ]:
# Kodą rašykite čia...

### Užduotis 2

Savo nuožiūra atlikite dar bent vieną analogišką užduotį.

In [ ]:
# Kodą rašykite čia...